{% extends 'IngesupMonteChargeBundle::base.html.twig' %}
{% block default_page %}
            <a class="btnStudent" href="login">
                <span class="glyphicon glyphicon-education"></span>
                <p>Étudiants</p>
            </a>
            <a class="btnAdmin" href="admin/login">
                <span class="glyphicon glyphicon-tower"></span>
                <p>Administration</p>
            </a>
{% endblock %}
